* {
  box-sizing: border-box;
}

.canvas {
  display: flex;
  justify-content: center;
}

.grid-container {
  text-align: center;
  margin-top: 5%;
  display: inline-grid;
}

.grid-item {
  /*border: 1px solid black;*/
  padding: 0 !important;
}